[user]
	name = 付傑
	email = ultraj0510@gmail.com

[core]
	autocrlf = input

[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
